.searchForm {
  padding: 70px 70px 27px;
}
.searchForm__form-container {
  display: flex;
  justify-content: space-between;
  outline: 1.5px solid rgba(170, 170, 170, .2);
  border-radius: 8px;
}
.searchForm__form-container:focus-within {
  outline: 2px solid rgba(170, 170, 170, .8);
}
.searchForm__input {
  width: 90%;
  border: none;
  padding: 25px 0 25px 25px;
  outline: none;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #A0A0A0;
}

.searchForm__button {
  border: none;
  background: #2BE080;
  border-radius: 5px;
  width: 100px;
  padding: 17px 20px;
  margin: 10px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.searchForm__button:hover {
  opacity: 0.8;
  cursor: pointer;
}
/* .searchForm__error-message {
  padding: 25px 25px;
} */

@media screen and (max-width: 770px) {
  .searchForm {
    padding: 70px 30px 27px;
  }
}

@media screen and (max-width: 560px) {
  .searchForm {
    padding: 70px 14px 31px;
  }
  .searchForm__input {
    padding: 10px 0 10px 12px;
    font-size: 16px;
    line-height: 16px;
  }
  .searchForm__button {
    width: 100px;
    padding: 13px 10px;
    margin: 6px;
  }
}
